body,html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

.drums{
  background: url(drums.png);
  text-align: center;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 600px;
  min-height: 95vh;
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .drums {
    background-position: center;
    background-size: 500px;
    min-height: 100vh;
  }
}
@media screen and (max-width: 370px) {
  h1 {
    font-size: 2em!important;
  }
  h2 {
    font-size: 1.5em!important;
  }
  .drums {
    background-size: 300px;
    min-height: 70vh;
  }
}

.key{

  background-color: transparent;
  padding: 15px 50px;
  border: 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.key:focus{
  outline: 0;
}

#ride{
  position: absolute;
  left:270px;
  top: 220px;
  padding: 30px 80px;
}
#boom{
  position: absolute;
  left:430px;
  top: 510px;
  padding: 100px;
}
#snare{
  position: absolute;
  left: 620px;
  top: 400px;
  padding: 30px 70px;
}
#hihat{
  position: absolute;
  left:770px;
  top: 330px;
}
#tom{
  position: absolute;
  left:350px;
  top: 390px;
  padding: 60px;
}
#kick{
  position: absolute;
  left:450px;
  top: 310px;
  padding: 40px 130px;
}
